webview {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

#find-box {
    position: fixed;
    top: 0; right: 16px;
    z-index: 1;

    padding: 4px;
    background-color: #ccc;
}

#find-box input {
    width: 160px;
}

#find-box button {
    border-radius: 0;
}
